<div class="container">
    <form [formGroup]="reactiveLoginForm" >
     {{reactiveLoginForm.value|json}}
        <div class="form-group" >
            <label> Email</label>
            <input  [class.is-invalid]="reactiveLoginForm.get('email')?.invalid && reactiveLoginForm.get('email')?.touched" formControlName="email"   class="form-control"  type="email">
            <small class="text-danger" *ngIf="reactiveLoginForm.get('email')?.invalid && reactiveLoginForm.get('email')?.touched"> Email is wrong </small>

        </div>

        <div class="form-group" >
            <label> Password</label>
            <input formControlName="password" class="form-control"  type="password">
            <small class="text-danger" *ngIf="reactiveLoginForm.get('password')?.invalid && reactiveLoginForm.get('password')?.touched">Password is invalid</small>
        </div>

        <input type="submit" (click)="loadData()"  value="Login" class="btn btn-info" >

    </form>
</div>
